In [31]:
import pandas as pd
import numpy as np

In [46]:
x = np.arange(1000, 10000)

In [47]:
y = np.arange(1, 100)

In [49]:
all_numbers = np.transpose([np.tile(x, len(y)), np.repeat(y, len(x))])
df = pd.DataFrame(all_numbers)
# df=df[df[0] < df[1]]
df = df.sample(frac=1)[:20000].reset_index(drop=True)

In [50]:
# np.random.shuffle(x)
# np.random.shuffle(y)

# df = pd.DataFrame()
# df[0] = x[:10000] 
# df[1] = y[:10000]

In [51]:
df['Question'] = df[0].astype(str) + " / " + df[1].astype(str)

In [52]:
df['Answer'] = df[0] / df[1]

In [53]:
df = df[['Question', 'Answer']]

In [57]:
df.sample(frac=1).to_csv("four_two_division.csv", index=None, header=None)

In [58]:
df

        Question       Answer
0      5665 / 93    60.913978
1      4390 / 71    61.830986
2       5330 / 9   592.222222
3      4043 / 57    70.929825
4       5294 / 5  1058.800000
5       7999 / 3  2666.333333
6      6746 / 26   259.461538
7      1497 / 22    68.045455
8       9644 / 9  1071.555556
9      8019 / 46   174.326087
10     5539 / 35   158.257143
11     5415 / 64    84.609375
12     7362 / 51   144.352941
13     4853 / 16   303.312500
14     3187 / 96    33.197917
15     4723 / 27   174.925926
16     9147 / 24   381.125000
17      4732 / 6   788.666667
18     4941 / 68    72.661765
19     8772 / 16   548.250000
20     4453 / 15   296.866667
21     1060 / 85    12.470588
22     2950 / 84    35.119048
23     1247 / 75    16.626667
24     5410 / 31   174.516129
25     3231 / 85    38.011765
26      7116 / 9   790.666667
27      6699 / 6  1116.500000
28     8430 / 17   495.882353
29     5466 / 89    61.415730
...          ...          ...
19970  7731 / 64   120.796875
19971  4497 / 81    55.518519
19972  8807 / 91    96.780220
19973  4216 / 29   145.379310
19974  5627 / 19   296.157895
19975  6985 / 13   537.307692
19976   3068 / 9   340.888889
19977  5953 / 55   108.236364
19978   3555 / 2  1777.500000
19979   3412 / 4   853.000000
19980  4195 / 26   161.346154
19981  3165 / 57    55.526316
19982  5438 / 94    57.851064
19983  5314 / 26   204.384615
19984  4320 / 48    90.000000
19985  9614 / 40   240.350000
19986  7692 / 64   120.187500
19987  4625 / 20   231.250000
19988  4977 / 70    71.100000
19989  5836 / 21   277.904762
19990  2415 / 68    35.514706
19991  1102 / 74    14.891892
19992  7694 / 31   248.193548
19993  8819 / 67   131.626866
19994  3980 / 39   102.051282
19995  4481 / 74    60.554054
19996  1322 / 53    24.943396
19997  1432 / 27    53.037037
19998  9976 / 31   321.806452
19999  1636 / 14   116.857143

[20000 rows x 2 columns]

In [ ]:
#now make one for division